.card {
    width: 100%;
    margin: 0 auto;
    margin-top: 1em;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    color:$color_text;
    line-height: 1.5em;    
    &__title {
        color: $color_menu_text;
        padding: 0 0 1em 0;
    }
    &>&__1,
    &>&__2,
    &>&__3,
    &>&__4,
    &>&__5,
    &>&__6,
    &>&__7,
    &>&__8,
    &>&__9,
    &>&__10{
        background-color: $bg;
        border-radius: .8em;    
        box-shadow: 0 0px 9px 0 #d4d4d4;
        width: 90%;
        margin: .5em 0;
        padding: .5em;
        position: relative;
    }
}

@media(min-width: 792px){
    .card {
        left: 14.5em;
        right: 2em;
        width: auto;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: flex-start;
        &>&__1,
        &>&__2,
        &>&__3,
        &>&__4,
        &>&__5,
        &>&__6,
        &>&__7,
        &>&__8,
        &>&__9,
        &>&__10{
            margin: 1em;
            padding: 2em;   
        }
        &>&__1{
            width: 10%;
            min-width: 190px;
        }
        &>&__2{
            width: 20%;
            min-width: 315px;
        }
        &>&__3{
            width: 30%;
            min-width: 441px;
        }
        &>&__4{
            width: 40%;
            min-width: 540px;
        }
        &>&__5{
            width: 50%;
            min-width: 630px;
        }
        &>&__6{
            width: 60%;
            min-width: 755px;
        }
        &>&__7{
            width: 70%;
            min-width: 880px;
        }
        &>&__8{
            width: 80%;
            min-width: 1020px;
        }
        &>&__9{
            width: 90%;
            min-width: 1148px;            
        }
        &>&__10{
            width: 100%;
            min-width: 1180px;
        } 
    }
}